{% extends "base.html.twig" %}

{% block title %}Route View{% endblock %}

{% block content %}
<div class="ui form">
    <div class="ui navigation">
        <a class="ui button primary" href="{{ path('log_run', { id: route.id }) }}"><i class="ui icon clock"></i> Log Run</a>
    </div>
    <table class="ui definition table">
        <tr>
            <td>Title</td>
            <td>{{ route.title }}</td>
        </tr>
        <tr>
            <td>Distance</td>
            <td>{{ route.meters }}m</td>
        </tr>
    </table>
    <h2>Runs</h2>
    <table class="ui table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>MPH</th>
                <th>Marathon Time</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
        {% for run in route.runs %}
        <tr>
            <td>{{ run.date.format('l jS F Y, H:i:s') }}</td>
            <td>{{ run.seconds }} seconds</td>
            <td>{{ run|mph }} mph</td>
            <td>{{ run|marathon_time }} seconds</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


